body{
  background-color: #1a507b;
  padding-top: 50px;
}

.b-univers{
  background: url(img/galaxy.jpg) 0 0/ cover no-repeat;
  width: 850px;
  height: 550px;
  margin: 0 auto;
  position: relative;
}

.b-univers__img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform  1s  ease-in-out;
  transform: translate(360px,200px); 
}